<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="rprr_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="jnt2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jnt2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jnt1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jnt1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jnt3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jnt3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="jnt4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['jnt4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <xacro:include filename="$(find rprr_description)/urdf/rprr_arm.ros2_control.xacro" />
        </ros2_control>
    </xacro:macro>
</robot>
